@import "../vars";
.mbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-out .225s;
    padding: 0;
    &:focus {
        box-shadow: none;
    }
}

.mbtn-green {
    border-radius: 8px;
    background-color: $primary;
    color: #FFFFFF;
    height: 54px;
    width: 270px;
    font-weight: 700;
    font-size: 16px;
    &:hover {
        background-color: $primaryHover;
        color: #FFFFFF;
    }
    &:disabled {
        background-color: rgba(black, .3);
        pointer-events: none;
    }
}

.mbtn-green-outline {
    border: 2px solid $primary;
    border-radius: 8px;
    color: $black;
    font-size: 16px;
    &:hover {
        background-color: $primary;
        color: #fff;
        path {
            stroke: #fff;
        }
    }
}

.mbtn-black {
    background-color: $black;
    color: #fff;
    &:hover {
        background-color: $primary;
        color: #fff;
    }
}

.link-arrow {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 125%;
    &:hover {
        color: $primaryHover;
        path {
            stroke: $primaryHover;
        }
    }
}

.favourite-btn{
    width: 44px;
    height: 44px;
    .svg2{
        display: none;
    }
    &:hover{
        border-color: #B7B7B7;
        background-color: transparent;
        path{
            stroke: none;
            fill: #B7B7B7;
        }
    }
    &--active{
        .svg1{
            display: none;
        }
        .svg2{
            display: unset;
        }
    }
}

.slick{
    &-prev,
    &-next {
        width: 34px;
        height: 51px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-position: center;
        background-repeat: no-repeat;
        font-size: 0;
    }
    &-prev {
        left: 0;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='19' height='35' viewBox='0 0 19 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 2L3 17.5L17 33' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
    }
    &-next {
        right: 0;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='19' height='35' viewBox='0 0 19 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L16 17.5L2 33' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
    }
}

@media screen and (max-width: 1024px) {
    .mbtn-green {
        width: 194px;
        height: 44px;
    }
}

@media screen and (max-width: 576px) {
    .mbtn-green {
        width: 192px;
        height: 42px;
    }
}
