@import "../vars.scss";
.breadcrumbs {
    margin-top: 40px;
    &__item {
        font-size: 14px;
        line-height: 24px;
        position: relative;
        font-weight: 400;
        display: inline;
        color: $gray2;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 14px;
            height: 24px;
            background-image: url(../img/bread-arow.svg);
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center;
            top: -2px;
            right: 100%;
            opacity: 0;
        }
        &:not(:first-child) {
            margin-left: 18px;
            &::before{
                opacity: 1;
            }
        }
    }
}


@media screen and (max-width: 768px){
    .breadcrumbs{
        margin-top: 24px;
        &__item{
            display: none;
            font-size: 12px;
            &:nth-last-child(2){
                display: inline;
                margin: 0 0 0 14px;
            }
            &::before{
                opacity: 1;
                top: -4px !important;
            }
        }
    }
}
