@import "../vars.scss";
.breadcrumbs {
    margin-top: 40px;
    &__item {
        font-size: 14px;
        line-height: 24px;
        position: relative;
        font-weight: 400;
        display: inline;
        color: $gray2;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 14px;
            height: 24px;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='24' viewBox='0 0 14 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 17L9.5 12L4.5 7' stroke='%23727272' stroke-linecap='round'/%3E%3C/svg%3E");
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center;
            top: -2px;
            right: 100%;
            margin-right: 4px;
            opacity: 0;
        }
        &:not(:first-child) {
            margin-left: 16px;
            &::before{
                opacity: 1;
            }
        }
        &:last-child{
            color: #B7B7B7;
        }
    }
}


@media screen and (max-width: 768px){
    .breadcrumbs{
        margin-top: 24px;
        &__item{
            display: none;
            font-size: 12px;
            &:nth-last-child(2){
                display: inline;
                margin: 0 0 0 14px;
            }
            &::before{
                opacity: 1;
                top: -4px !important;
            }
        }
    }
}
