@import '../vars';
@import '../mixins';
.modal {
    background: rgba(#000, .7);
    position: fixed;
    left: -10000;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
    &--active{
        display: flex;
    }
    &__dialog{
        background: #FFFFFF;
        border-radius: 8px;
        width: 540px;
        max-width: 100%;
        padding: 30px 70px 34px;
        position: relative;
    }
    &__close{
        position: absolute;
        right: 32px;
        top: 32px;
        &:hover{
            path{
                stroke:$black;
            }
        }
    }
    &__title{
        font-weight: 700;
        font-size: 26px;
        line-height: 108%;
        text-align: center;
    }
    &__subtitle{
        margin-top: 8px;
        font-weight: 700;
        font-size: 18px;
        line-height: 139%;
        text-align: center;
    }
    &__form{
        margin-top: 16px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 17px;
    }
    .mfg{
        input{
            height: 40px;
        }
        label{
            padding-left: 0;
        }
    }
    &__hint{
        //margin-top: -8px;
        font-size: 15px;
        line-height: 18px;
        color: $gray2;
        a{
            text-decoration: underline;
        }
    }
    &__btn{
        width: 250px;
        margin: 8px auto 0;
    }
    &__variant{
        .radio{
            margin-bottom: 4px;
        }
    }
}

.modal1{
    .modal{
        &__dialog{
            width: 600px;
            @media screen and (min-width: 576px){
                padding: 60px 100px;
            }
        }
        &__form{
            margin-top: 30px;
            gap: 20px;
        }
        &__hint{
            margin-top: -8px;
        }
        &__btn{
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 576px){
    .modal{
        &__dialog{
            padding: 50px 18px;
            height: 100vh;
            overflow-y: auto;
            border-radius: 0;
        }
        &__close{
            top: 24px;
            right: 24px;
        }
        &__title{
            font-size: 24px;
        }
        &__subtitle{
            margin-top: 12px;
        }
        &__form{
            margin-top: 20px;
        }
    }
}
