@import "../vars.scss";
.main {
    height: 800px;
    &__slide {
        height: 800px;
        background-size: cover;
        background-position: center;
        color: #FFFFFF;
        .container {
            width: 1920px;
            padding: 0 194px;
        }
        &-inner {
            padding: 120px 0;
        }
    }
    &__slide1 {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            background-image: url(../img/main-bg.png);
            background-size: cover;
            background-position: center;
            height: calc(100% - 90px);
            width: 100%;
            left: 0;
            top: 0;
            filter: drop-shadow(8px 4px 50px rgba(69, 73, 64, 0.6));
        }
        &-content {
            position: relative;
            z-index: 3;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 180px 0;
        }
    }
    &__img {
        position: absolute;
        z-index: 2;
    }
    &__img1 {
        left: 0;
        top: 0;
        width: 12.8%;
        max-width: 245px;
    }
    &__img2 {
        left: 10.5%;
        width: 23%;
        max-width: 440px;
    }
    &__img3 {
        bottom: 15px;
        left: 16.4%;
        width: 25.3%;
        max-width: 487px;
    }
    &__img4 {
        right: 0;
        top: 0;
        width: 40%;
        max-width: 766px;
    }
    &__img5 {
        bottom: 0;
        right: 12%;
        width: 26.7%;
        max-width: 514px;
    }
    &__logo {
        width: 420px;
    }
    &__title {
        margin-top: 5px;
        text-align: center;
        font-weight: 700;
        font-size: 28px;
        line-height: 129%;
        color: #F4F4F4;
    }
    &__btn {
        margin: 53px auto 0;
        font-weight: 700;
        font-size: 20px;
    }
    .slick {
        &-list {
            padding-bottom: 50px;
        }
        &-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -94px;
            position: relative;
            z-index: 3;
            li {
                margin: 0 6px;
                display: flex;
                align-items: center;
            }
            button {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                font-size: 0;
                background-color: $gray;
                transition: all .225s;
            }
            .slick-active {
                button {
                    width: 16px;
                    height: 16px;
                    background-color: $primary;
                }
            }
        }
    }
    &__slide2 {
        position: relative;
        z-index: 4;
    }
    &__desc {
        margin-top: 32px;
        font-size: 24px;
        line-height: 133%;
        max-width: 660px;
    }
    &__link {
        margin-top: 40px;
        margin-left: 0;
    }
}

.catalog-index {
    padding: 80px 0 60px;
    overflow: hidden;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__grid {
        margin-top: 60px;
        @media screen and (min-width: 800px) {
            display: grid;
            gap: 25px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(6, 210px);
        }
    }
    &__fish,
    &__meat {
        position: absolute;
        &-img {
            position: absolute;
        }
        &-subtitle {
            position: relative;
            font-size: 16px;
            line-height: 125%;
            color: $primary;
            padding-top: 17px;
            max-width: 240px;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 185px;
                height: 3px;
                background-color: $primary;
                left: 0;
                top: 0;
            }
        }
    }
    &__meat {
        grid-row: 1/4;
        left: 0;
        top: 0;
        width: calc((100% / 3) - 16px);
        height: calc(50% - 12px);
        &-img {
            bottom: 64px;
            right: 62px;
            width: 100%;
            filter: drop-shadow(0px 4px 61px rgba(0, 0, 0, 0.25));
        }
    }
    &__fish {
        grid-column: 3/4;
        grid-row: 4/6;
        height: calc(33.33% - 12px);
        width: calc((100% / 3) - 16px);
        right: 0;
        bottom: calc(100% / 6);
        &-img {
            bottom: 0;
            left: 78px;
            width: 100%;
        }
        &-subtitle {
            max-width: 200px;
        }
    }
    &__wrap {
        position: relative;
    }
    &__item {
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        box-shadow: 0px 6px 20px 3px rgba(43, 51, 39, 0.25);
        &:hover {
            @media screen and (min-width: 800px) {
                &:before {
                    opacity: 1;
                }
                .catalog-index__item-title {
                    background: transparent;
                    bottom: 50%;
                    transform: translateY(50%);
                }
            }
        }
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            background: rgba(16, 16, 16, 0.5);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            transition: all .225s;
        }
        @media screen and (min-width: 800px) {
            &:nth-child(10),
            &:nth-child(1) {
                width: calc(100% + 80px);
            }
            &:nth-child(11),
            &:nth-child(2) {
                width: calc(100% - 80px);
                margin-left: auto;
            }
            &:nth-child(5) {
                grid-column: 3/4;
                grid-row: 2/4;
            }
            &:nth-child(6) {
                grid-row: 4/6;
            }
            &:nth-child(1) {
                grid-column: 2/3;
            }
            &:nth-child(2) {
                grid-column: 3/4;
            }
            &:nth-child(3) {
                grid-column: 2/3;
            }
            &:nth-child(4) {
                grid-column: 2/3;
            }
            &:nth-child(8) {
                grid-column: 2/3;
            }
            &:nth-child(9) {
                grid-column: 1/2;
            }
            &:nth-child(10) {
                grid-column: 2/3;
            }
        }
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            &-mob,
            &-tablet{
                display: none;
            }
        }
        &-title {
            background: linear-gradient(180deg, rgba(6, 6, 6, 0) 0%, #060606 100%);
            width: 100%;
            height: 72px;
            display: flex;
            align-items: center;
            padding: 0 24px;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(0);
            font-weight: 700;
            font-size: 22px;
            line-height: 24px;
            color: #fff;
            transition: all .225s;
            z-index: 2;
        }
    }
}

.collection {
    padding: 60px 0;
    overflow: hidden;
    &--slider{
        padding-bottom: 20px;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, calc(25% - 18px));
        gap: 24px;
        margin-top: 50px;
    }
    .product-card {
        height: 100%;
    }
    &__slider{
        margin-top: 30px;
        position: relative;
    }
    .swiper{
        &-container{

        }
        &-wrapper{
            align-items: stretch;
        }
        &-slide{
            height: auto;
            opacity: 0;
            &-active{
                opacity: 1;
            }
            &-next{
                opacity: 1;
                &+.swiper-slide,
                &+.swiper-slide+.swiper-slide{
                    opacity: 1;
                }
            }
        }
        &-button{
            &-prev,
            &-next{
                z-index: 3;
                width: 36px;
                height: 36px;
                background-size: 12px auto;
            }
            &-next{
                right: -40px;
            }
            &-prev{
                left: -40px;
            }
        }
    }
}

.why {
    padding: 60px 0;
    overflow: hidden;
    &__inner {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 946.93px;
            height: 765.18px;
            background-image: url(../img/flour.webp);
            background-size: 100% auto;
            background-repeat: no-repeat;
            left: 450px;
            bottom: -348px;
        }
    }
    &__items {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 60px;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 14px 0;
        border-top: 2px solid $primary;
        border-bottom: 2px solid $primary;
        min-height: 80px;
        &-num {
            font-weight: 700;
            font-size: 36px;
            line-height: 120%;
            color: $primary;
            margin-right: 5px;
        }
        &-title {
            font-size: 16px;
            line-height: 120%;
            margin-left: 3px;
        }
    }
    &__info {
        max-width: 500px;
        margin-top: 80px;
        &-item {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        &-title {
            font-weight: 700;
            font-size: 22px;
            line-height: 150%;
        }
        &-desc {
            font-size: 16px;
            line-height: 140%;
            margin-top: 8px;
        }
    }
}

.loyalty {
    margin-top: 187px;
    &__wrap {
        margin: 60px 0 0 -60px;
        width: calc(100% + 120px);
        background-color: #FFFFFF;
        background-image: url(../img/loyalty-bg2.svg), url(../img/loyalty-bg.svg);
        background-position: left -280px top -65px, right top;
        background-repeat: no-repeat;
        background-size: 683px auto, auto 100%;
        border: 1px solid #D6D6D6;
        box-shadow: 0px 4px 30px rgba(57, 61, 52, 0.1);
        border-radius: 8px;
        padding: 80px 111px;
        position: relative;
    }
    &__img {
        position: absolute;
        right: -24px;
        bottom: -33px;
        width: 550px;
    }
    &__desc {
        font-size: 28px;
        line-height: 120%;
        max-width: 772px;
    }
    &__btn {
        font-weight: 700;
        font-size: 16px;
        margin-top: 49px;
        svg {
            margin-left: -4px;
        }
    }
}

.work-with {
    background: #131513;
    color: #fff;
    margin-top: 70px;
    padding: 190px 0 220px;
    position: relative;
    overflow: hidden;
    &__img {
        right: 0;
        top: 0;
        position: absolute;
        height: 100%;
        width: 48%;
        object-fit: cover;
        img {
            min-width: 100%;
            min-height: 100%;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &__inner {
        width: 52%;
    }
    &__desc {
        font-size: 16px;
        line-height: 140%;
        margin-top: 55px;
        max-width: 500px;
    }
    &__btn {
        margin-top: 74px;
    }
}

.become-client {
    padding: 60px 0;
    margin-top: 30px;
    &__inner {
        display: flex;
    }
    &__content {
        width: 53%;
        flex-shrink: 0;
        margin-left: 8%;
    }
    &__img {
        width: 39%;
        img {
            width: 155%;
            margin-left: -55%;
        }
    }
    &__title {
        text-align: center;
    }
    &__desc {
        font-size: 16px;
        line-height: 140%;
        margin-top: 50px;
    }
    &__form {
        background: #F9F9F9;
        border: 1px solid #D6D6D6;
        box-shadow: 0px 0px 50px rgba(128, 133, 126, 0.15);
        border-radius: 8px;
        padding: 46px 54px;
        margin-top: 60px;
        &-grid {
            margin-top: 24px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 17px 42px;
        }
    }
    &__btn {
        width: 100%;
        height: 44px;
        margin-top: 23px;
        font-weight: 700;
        font-size: 16px;
        @media screen and (min-width: 576px) {
            grid-column: 2/3;
        }
    }
}

.clients {
    padding: 60px 0;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .slick {
        &-slide {
            margin: 0 35px;
        }

        &-disabled {
            opacity: 0.6;
        }
    }
    &__slider {
        margin-top: 20px;
        padding: 0 10px;
    }
    &__item {
        display: flex !important;
        align-items: center;
        justify-content: center;
        height: 80px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

@media screen and (max-width: 1700px) {
    .become-client {
        &__img {
            img {
                width: 125%;
                margin-left: -25%;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .main {
        height: 600px;
        &__slide {
            height: 600px;
            .container {
                padding: 0 90px;
            }
        }
        &__slide1 {
            &::before {
                height: calc(100% - 65px);
            }
            &-content {
                padding: 140px 0;
            }
        }
        &__logo {
            width: 300px;
        }
        &__btn {
            margin-top: 18px;
        }
    }

    .work-with {
        padding: 140px 0 160px;
    }

    .become-client {
        &__content {
            width: 56%;
            margin-left: 5%;
        }
        &__img {
            width: 39%;
            img {
                width: 115%;
                margin-left: -15%;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .loyalty {
        &__wrap {
            width: 100%;
            margin-left: 0;
            padding: 80px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .why {
        &__items {
            gap: 30px;
        }
    }

    .work-with {
        padding: 90px 0 120px;
    }

    .collection{
        &__slider{
            //overflow: hidden;
        }
        .swiper{
            &-slide{
                width: 292px;
                opacity: 1;
            }
            &-button{
                &-prev,
                &-next{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .catalog-index {
        @media screen and (min-width: 800px) {
            &__grid {
                gap: 13px;
                grid-template-rows: repeat(6, 170px);
            }
            &__item {
                &:nth-child(10),
                &:nth-child(1) {
                    width: calc(100% + 54px);
                }
                &:nth-child(11),
                &:nth-child(2) {
                    width: calc(100% - 54px);
                }
            }
        }
    }

    .collection {
        &__grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .why {
        &__inner {
            display: flex;
            margin-top: 30px;
            &::before {
                background-image: url(../img/flour3.webp);
                width: 367px;
                height: 169px;
                left: unset;
                right: -30px;
                bottom: -84px;
                transform: rotate(-154.57deg);
            }
        }
        &__items {
            width: 192px;
            grid-template-columns: 1fr;
            gap: 60px;
            margin: 0;
        }
        &__info {
            margin: 0 0 0 114px;
            position: relative;
            z-index: 2;
        }
    }

    .loyalty {
        margin-top: 110px;
        &__wrap {
            margin-top: 40px;
            padding: 30px 36px;
            background-position: left -200px top -47px, right top;
            background-size: 483px auto, auto 100%;
        }
        &__desc {
            font-size: 16px;
            line-height: 120%;
            max-width: 400px;
        }
        &__btn {
            margin-top: 15px;
        }
        &__img {
            width: 248px;
            bottom: -15px;
            right: -12px;
        }
    }

    .become-client {
        padding: 75px 0;
        margin-top: 75px;
        &__content {
            width: 100%;
            margin: 0;
        }
        &__img {
            display: none;
        }
        &__title {
            text-align: left;
        }
        &__desc {
            margin-top: 30px;
        }
        &__form {
            padding: 43px 48px;
            margin-top: 28px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .main {
        height: 400px;
        &__slide {
            height: 400px;
            .container {
                padding: 0 70px;
            }
            &-inner {
                padding: 46px 0;
            }
        }
        &__slide1 {
            &-content {
                padding: 55px 0;
            }
        }
        &__logo {
            width: 195px;
        }
        &__title {
            font-size: 13px;
        }
        &__btn {
            font-size: 16px;
        }
        .slick {
            &-dots {
                margin-top: -72px;
                li {
                    margin: 0 5px;
                }
                button {
                    width: 10px;
                    height: 10px;
                }
                .slick-active {
                    button {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
        &__desc {
            font-size: 20px;
            line-height: 160%;
            margin-top: 19px;
            max-width: 427px;
        }
        &__link {
            margin-top: 15px;
        }
    }

    .catalog-index {
        padding: 35px 0;
        &__grid {
            margin-top: 30px;
            grid-template-rows: repeat(6, 107px);
        }
        &__item {
            &-title {
                font-size: 18px;
                line-height: 133%;
                height: 46px;
            }
            &-img{
                &-desktop,
                &-mob{
                    display: none;
                }
                &-tablet{
                    display: unset;
                }
            }
        }
        &__meat,
        &__fish {
            &-subtitle {
                font-size: 14px;
                line-height: 129%;
                max-width: 112px;
                padding-top: 7.8px;
                &::before {
                    width: 95px;
                    height: 2px;
                }
            }
        }
        &__meat {
            &-img {
                right: 8px;
                bottom: 33px;
            }
        }
        &__fish {
            &-subtitle {
                max-width: 100px;
            }
            &-img {
                left: 8px;
            }
        }
    }

    .collection {
        padding: 35px 0 10px;
        &__grid {
            gap: unset;
            display: flex;
            margin: 0 0 0 -20px;
            padding: 25px 0 25px 20px;
            width: calc(100% + 40px);
            overflow-x: auto;
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
            @media screen and (min-width: 800px) {
                margin: 0 0 0 -80px;
                width: calc(100% + 160px);
            }
        }
        .product-card {
            width: 292px;
            margin-right: 24px;
            flex-shrink: 0;
        }
    }

    .why {
        padding: 35px 0;
    }

    .work-with {
        padding: 60px 0 70px;
        &__inner {
            width: 61%;
            padding-right: 10px;
        }
        &__img {
            width: 39%;
            img {
                position: static;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__desc {
            margin-top: 20px;
        }
        &__btn {
            margin-top: 40px;
        }
    }

    .clients {
        padding: 35px 0;
        margin-top: 35px;
        &__slider {
            margin-top: 15px;
        }
        .slick {
            &-slide {
                margin: 0 5px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .main {
        height: 360px;
        &__slide {
            height: 360px;
        }
    }
}

@media screen and (max-width: 800px) {
    .catalog-index {
        padding: 50px 0 25px;
        &__meat,
        &__fish {
            display: none !important;
        }
        &__wrap {
            width: calc(100% + 40px);
            margin-left: -20px;
        }
        &__grid {
            max-width: 100%;
            margin: 20px 0 0 0;
            overflow-x: auto;
            display: flex;
            padding-left: 20px;
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }
        &__item {
            flex-shrink: 0;
            width: 300px;
            height: 170px;
            margin-right: 17px;
        }
        &__link {
            span {
                font-size: 0;
                position: relative;
                display: flex;
                align-items: center;
                &:before {
                    content: 'Все';
                    font-size: 16px;
                }
            }
        }
    }

    .collection {
        padding: 25px 0;
        &__link {
            span {
                font-size: 0;
                position: relative;
                display: flex;
                align-items: center;
                &:before {
                    content: 'Все';
                    font-size: 16px;
                }
            }
        }
    }

    .why {
        &__info {
            margin-left: 50px;
        }
    }

    .clients {
        padding: 25px 0;
        margin-top: 25px;
        &__link {
            span {
                font-size: 0;
                position: relative;
                display: flex;
                align-items: center;
                &:before {
                    content: 'Все';
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .work-with {
        padding: 30px 0 43px;
        &__inner {
            width: 100%;
        }
        &__img {
            position: static;
            width: 100%;
            height: unset;
            // max-width: 400px;
            margin-top: 30px;
            img {
                height: unset;
                min-height: unset;
                border-radius: 8px;
            }
        }
        &__desc {
            font-size: 14px;
            margin-top: 28px;
            max-width: 100%;
        }
        &__btn {
            margin-top: 30px;
        }
    }

    .catalog-index{
        &__item{
            &-img{
                &-desktop,
                &-tablet{
                    display: none;
                }
                &-mob{
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .loyalty {
        margin-top: 62px;
        &__wrap {
            margin-top: 30px;
            padding: 30px 25px 185px;
            min-height: 333px;
            background-image: url(../img/loyalty-bg.svg);
            background-repeat: no-repeat;
            background-position: right -110px bottom;
            background-size: auto 161px;
        }
        &__btn {
            margin-top: 20px;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 576px) {
    .main {
        height: 492px;
        &__slide {
            height: 492px;
            .container {
                padding: 0 24px;
            }
        }
        &__slide1 {
            &-content {
                padding: 125px 0;
            }
        }
        &__slide3 {
            background-position: right 29% center;
        }
        &__img1 {
            display: none !important;
        }
        &__img2 {
            width: 160px;
            left: -40px;
        }
        &__img3 {
            transform: rotate(-90deg) matrix(0.8, -0.61, 0.6, 0.8, 0, 0);
            width: 240px;
            left: -100px;
            bottom: 60px;
        }
        &__img4 {
            width: 252px;
        }
        &__img5 {
            width: 216px;
            bottom: 14px;
            right: -40px;
        }
        &__logo {
            width: 150px;
        }
        &__title {
            margin-top: 0px;
            font-size: 10px;
        }
        &__btn {
            margin-top: 16px;
        }
        &__desc {
            line-height: 130%;
            margin-top: 20px;
        }
        &__link {
            margin-top: 28px;
        }
        &__subtitle{
            line-height: 112%;
            font-size: 32px;
        }
    }

    .collection {
        &--slider{
            padding-bottom: 0;
        }
        .display3{
            font-size: 20px;
        }
        &__slider{
            margin-top: 20px;
        }
        .product-card {
            width: 148px;
            margin-right: 14px;
        }
    }

    .why {
        padding: 25px 0;
        &__inner {
            display: block;
            &::before {
                right: -150px;
                top: 250px;
            }
        }
        &__items {
            width: 100%;
            grid-template-columns: 1fr 1fr;
            gap: 36px;
            position: relative;
            z-index: 2;
        }
        &__item {
            min-height: unset;
            display: block;
            padding: 10px 0;
            &-num {
                display: block;
                font-size: 34px;
                line-height: 36px;
            }
            &-title {
                width: 100%;
            }
        }
        &__info {
            margin: 50px 0 0;
            &-item {
                &:not(:last-child) {
                    margin-bottom: 24px;
                }
            }
        }
    }
    .work-with {
        &__btn {
            width: 100%;
        }
    }
    .become-client {
        padding: 25px 0;
        margin-top: 25px;
        &__form {
            padding: 24px 40px 28px;
            &-grid {
                grid-template-columns: 1fr;
                gap: 7px;
                margin-top: 19px;
            }
        }
        &__btn {
            margin-top: 17px;
        }
        &__des {
            font-size: 14px;
        }
    }
    .clients {
        .slick {
            &-list {
                width: calc(100% + 40px);
                margin-left: -20px;
            }
            &-slide {
                width: 110px;
                height: 75px;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .collection {
        &__grid {
            width: calc(100% + 20px);
            margin-left: -10px;
        }
    }
    .become-client {
        &__form {
            padding: 24px 20px 28px;
        }
    }
}
