<div class="modal" id="callModal">
    <div class="modal__dialog">
        <button type="button" class="modal__close mbtn" data-bs-dismiss="modal" aria-label="Close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999962 13L13 1" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round"/>
                <path d="M13 13L1 1" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </button>

        <div class="modal__title">
            Оставьте свои контакты <br>
            и мы вам перезвоним
        </div>
        <form id="callForm" class="modal__form validate-form">
            <fieldset class='mfg'>
                <label>Ваше имя</label>
                <input type='text' name="name" placeholder="Введите имя"/>
                <span class="mfg__error body-text3">Неправильно заполнено поле</span>
            </fieldset>
            <fieldset class='mfg'>
                <label>Телефон</label>
                <input type='tel' name="tel" placeholder="+7"/>
                <span class="mfg__error body-text3">Неправильно заполнено поле</span>
            </fieldset>
            <div class="modal__hint">
                Заполняя эту форму, я даю согласие на <a href="">обработку персональных данных</a>
            </div>
            <button class="modal__btn mbtn mbtn-green">
                <span>Оставить заявку</span>
            </button>
        </form>
    </div>
</div>

<div class="modal" id="callModal2">
    <div class="modal__dialog">
        <button type="button" class="modal__close mbtn" data-bs-dismiss="modal" aria-label="Close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999962 13L13 1" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round"/>
                <path d="M13 13L1 1" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </button>

        <div class="modal__title">
            Оставьте заявку <br>
            на консультацию с менеджером
        </div>
        <form id="callForm2" class="modal__form validate-form">
            <fieldset class='mfg'>
                <label>Ваше имя</label>
                <input type='text' name="name" placeholder="Введите имя"/>
                <span class="mfg__error body-text3">Неправильно заполнено поле</span>
            </fieldset>

            <div class="modal__subtitle">Выберите удобный способ связи</div>

            <div class="modal__variant">
                <div class="radio">
                    <input type="radio" name="variant">
                    <label>Телефон</label>
                </div>
                <fieldset class='mfg'>
                    <input type='tel' name="tel" placeholder="+7"/>
                    <span class="mfg__error body-text3">Неправильно заполнено поле</span>
                </fieldset>
            </div>

            <div class="modal__variant">
                <div class="radio">
                    <input type="radio" name="variant">
                    <label>Е-mail </label>
                </div>
                <fieldset class='mfg'>
                    <input type='tel' name="tel" placeholder="Введите e-mail"/>
                    <span class="mfg__error body-text3">Неправильно заполнено поле</span>
                </fieldset>
            </div>

            <fieldset class='mfg'>
                <textarea placeholder="Опишите свой вопрос и мы направим письменный ответ на ваш e-mail."></textarea>
                <span class="mfg__error body-text3">Неправильно заполнено поле</span>
            </fieldset>


            <div class="modal__hint">
                Заполняя эту форму, я даю согласие на <a href="">обработку персональных данных</a>
            </div>
            <button class="modal__btn mbtn mbtn-green">
                <span>Оставить заявку</span>
            </button>
        </form>
    </div>
</div>

<!-- <div class="modal-backdrop show"></div> -->
