<div class="container">
    <div class="why-we__title display2">Почему Гросс Фуд?</div>
    <div class="why-we__items">
        <div class="why-we__item">
            <div class="why-we__icon">
                <img src="img/why-we.svg" alt="">
            </div>
            <div class="why-we__text">Hеобходимый объём продукции на складе</div>
        </div>
        <div class="why-we__item">
            <div class="why-we__icon">
                <img src="img/why-we2.svg" alt="">
            </div>
            <div class="why-we__text">Cвежие товары <br> и вкусные продукты</div>
        </div>
        <div class="why-we__item">
            <div class="why-we__icon">
                <img src="img/why-we3.svg" alt="">
            </div>
            <div class="why-we__text">Контроль качества и соблюдение гарантий</div>
        </div>
        <div class="why-we__item">
            <div class="why-we__icon">
                <img src="img/why-we4.svg" alt="">
            </div>
            <div class="why-we__text">Cезонные акции <br> и бонусная система</div>
        </div>
        <div class="why-we__item">
            <div class="why-we__icon">
                <img src="img/why-we5.svg" alt="">
            </div>
            <div class="why-we__text">Возможность платить в рассрочку</div>
        </div>
        <div class="why-we__item">
            <div class="why-we__icon">
                <img src="img/why-we6.svg" alt="">
            </div>
            <div class="why-we__text">Доставка на следующий день после заявки</div>
        </div>
    </div>
</div>
